.nav{
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.container{
  width: 100%;
  background-color: black;
  color: white;
  padding-bottom: 20px;
}
.image:hover{
  cursor: pointer;
}